numpy==1.24.4
scipy==1.10.1
matplotlib==3.7.5
opencv-python==4.8.0.76
pillow==10.4.0
tqdm==4.67.3
PyYAML==6.0.3
easydict==1.13
timm==1.0.26
visdom==0.2.4
tb-nightly==2.14.0a20230808
yacs==0.1.8
thop
lmdb==1.8.1
einops==0.8.1
charset-normalizer==3.4.7
idna==3.11
requests==2.32.4
urllib3==2.2.3
certifi==2026.2.25
packaging==26.0
cryptography==46.0.7